#example fidgot rules
#Format: "regex" "message"
#rules are checked from top, to down
#the first, that matches is used

#defining vatiable:
$sname  = "$name:{0,1}"

#python regular expressions, see 're' module documentation
"$sname hi"         "hi"

#some characters (", \, <, >, (, ), $ ) can be escaped with \
#\ -> \, \\ -> \, \\\\ -> \\
"$sname \\\\"         "backslash"

#to insert group from regex put it's name into <>
"$sname say to (?P<nick>[^\s]*) (?P<msg>.*)" "<nick>: <msg>"
"$sname say (.*)"   "<1>"

#predefined variables: $name, $chan, $user
"$sname info" "i'am $name, and you are $user. We are on $chan."

#rules can be extended over many lines
"$sname help"  \
"hello, i'm $name an irc bot \
i can't do a lot yet, \
but i'm learning"
