#example fidgot's rules file

#useful, user can write "name", or "name:"
$sname  = "$name:{0,1}"

"$sname hi"                 "hi"
"$sname say (.*) to me"     "$user: <1>"
"$sname say (.*) to (.*)"   "<2>: <1>"
"$sname say (.*)"           "<1>"
"$sname.*"                  "$user: i don't understand you :("
